langchain==0.0.285
PyPDF2==3.0.1
streamlit==1.24.0
openai==0.27.0
faiss-cpu==1.7.3
tiktoken==0.3.1
tokenizers==0.13.3
scikit-learn==1.2.2
streamlit-chat==0.1.1
chromadb==0.3.29
pytube
youtube_transcript_api
requests_cache
nest_asyncio
lxml
bs4
